.App {
  text-align: center;
  font-size: large;
}
ul{
  list-style : none;
  padding-left : 0.5rem;
}
.name {
  margin-left: 0.5rem;
}
li {
  text-align: left;
  color: #31708f !important;
}
.listItem:hover {
  background-color: #D6EEEE;
}
.arrow {
  color: black;
  display: inline-block;
}
.arrow-right {
  transform: rotate(0deg);
}
.arrow-down {
  transform: rotate(90deg);
}